<div class="container ">
    <header>
      <h1>Raffle System Demo Links</h1>
    </header>
    <section class="link-list">
      <ul>
        <li><a routerLink="/client/login">Login Page</a></li>
        <li>
          <a  routerLink="/client/raffle-dashboard"
            >Raffle Dashboard</a
          >
        </li>
        <li>
          <a routerLink="/client/raffle-creation" 
            >Raffle Creation</a
          >
        </li>
        <li>
          <a routerLink="/client/raffle-management"
            >Raffle Management</a
          >
        </li>
        <li>
          <a routerLink="/client/raffle-landing"
            >Raffle Landing</a
          >
        </li>
      </ul>
    </section>
    </div>
